#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#main h1, #main h2 {
    text-align: center;
}

#main table {
    border-collapse: collapse;
    width: 100%;
}

#main input {
    width: 100%;
}

.error {
    border-color: red;
}

.error .react-select__control {
    border-color: red;
}

td {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

button {
    width: 100%;
    height: 40px;
    font-size: large;
}

