#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#main h1 {
    text-align: center;
}

#main table {
    width: 100%;
}

#main input {
    width: 100%;
}

.error {
    border-color: red;
}

.error .react-select__control {
    border-color: red;
}

td {
    text-align: right;
}